body {
    height: 100vh;
    background: linear-gradient(to bottom right, #ff5a00, orange);
}

@media only screen and (max-device-width: 480px) {
    #main {
        width: 90%;
        height: 80%;
    }

    .txt {
        font-size: 1.5rem;
    }
}

@font-face {
    font-family: sq;
    src: url(fonts/kirsty.otf);
}

.sq {
    font-family: sq;
}

.custom-my {
    margin-top: 5%;
}

select::invalid {
    color: #999999;
}