body {
    height: 100vh;
    background: linear-gradient(to bottom right, red, orange);
}

#canvas {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7xoekfqZxDbkCP6TLChaSoZvhtgWCZpUfnx5rLVtwxe5VqVaqJe55gHdH-A1Fsxos8Ss&usqp=CAU");
}

.custom-my {
    margin-top: 2.5%;
}

